@font-face {
    font-family: Brittany Signature;
    src: url(../../../public/assets/fonts/BrittanySignature.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.introductionBlock{
    background: url('../../../public/assets/novios.png'), #00000057;
    background-blend-mode:darken;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 911px;
    height: 911px;
    width: 100vw;
    margin: 0px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 880px)
}
h1{
    font-family: 'Brittany Signature';
    color: #ffffff;
    position: relative;
    font-size: 100px;
}
h4{
    font-family: montserrat;
    color: #f4fce1;
    font-size: xx-large;
    position: relative;
    text-align: center;
    font-weight: 100;
}
.messageBlock{
    top: 30px;
    letter-spacing: 5px;
}
.bibleVerse{
    margin: 0 5% 0 5%;
    position: relative;
    top: 450px;
    font-size: x-large;
    font-style: italic;
}
.bibleVerse2{
    text-align: end;
}
.introductionNames{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    text-align: center;
    font-size: 80px;
}
.introductionName1{
    top: 75px;
}
.introductionNameAmp{
    top: 200px;
}
.introductionName2{
    top: 375px;
}