@font-face {
    font-family: Brittany Signature;
    src: url(../../../public/assets/fonts/BrittanySignature.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.introductionBlock{
    background: url('../../../public/assets/novios.png'), #00000057;
    background-blend-mode:darken;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 911px;
    height: 911px;
    width: 100vw;
    margin: 0px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 880px)
}
h1{
    font-family: 'Brittany Signature';
    color: #ffffff;
    position: relative;
    font-size: 100px;
}
h4{
    font-family: montserrat;
    color: #f4fce1;
    font-size: xx-large;
    position: relative;
    text-align: center;
    font-weight: 100;
}
.messageBlock{
    top: 30px;
    letter-spacing: 5px;
}
.bibleVerse{
    margin: 0 5% 0 5%;
    position: relative;
    top: 450px;
    font-size: x-large;
    font-style: italic;
    max-width: 1800px;
}
.bibleVerse2{
    text-align: end;
    font-style: normal;
}
.introductionNames{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    text-align: center;
    font-size: 80px;
}
.introductionName1{
    top: 75px;
    margin: 20px;
}
.introductionNameAmp{
    top: 200px;
    margin: 20px;
}
.introductionName2{
    top: 375px;
    margin: 20px;
}
@media (min-width: 1800px){
    .introductionBlock{
        background-size: 100%;
    }
}
@media (min-width: 770px){
    .introductionBlock{
        max-width: 100vw;
        height: 720px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 31px))
    }
    .introductionName1{
        top: 150px;
        
    }
    .introductionNameAmp{
        top: 150px;
    }
    .introductionName2{
        top: 150px;
    }
    h1{
        margin: 0 0px;
        font-size: 180px;
    }
    .bibleVerse{
        margin: 0 5% 0 5%;
        position: relative;
        top: 300px;
        font-size: x-large;
        font-style: italic;
    }
}
@media (max-width: 769px){
    .introductionBlock{
        max-width: 100vw;
        height: 650px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 31px))
    }
    .introductionName1{
        top: 70px;
        
    }
    .introductionNameAmp{
        top: 150px;
    }
    .introductionName2{
        top: 220px;
    }
    .bibleVerse{
        top: 300px;
    }
}
@media (max-width: 580px){
    .introductionBlock{
        max-width: 100vw;
        height: 700px;
    }
    .introductionName1{
        margin: 0;
        
    }
    .introductionNameAmp{
        margin: 0;
    }
    .introductionName2{
        margin: 0;
    }
}
@media (max-width: 425px){
    .introductionBlock{
        max-width: 100vw;
        height: 700px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 31px))
    }
    h1{
        font-size: 80px;
    }
    .introductionNames{
        display: flex;
        flex-direction: column;
    }
    .introductionName1{
        top: 75px;
        
    }
    .introductionNameAmp{
        top: 75px;
    }
    .introductionName2{
        top: 75px;
    }
    .bibleVerse{
        margin: 0 5% 0 5%;
        position: relative;
        top: 125px;
        font-size: x-large;
        font-style: italic;
    }
}