.countdownBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 300px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.countdownBlock h4{
    margin-bottom: 10px;
    letter-spacing: 8px;
    font-weight: 200;
    color: #8f8f8f;
}
.clockBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    justify-content: center;
}
.countdownItem{
    padding: 20px 0px;
    min-width: 200px;
    margin: 20px;
    border-width: 0px 1px;
    border-color: #8f8f8f;
    border-style: solid;
    margin: 5px;
    text-align: center;
    font-size: 80px;
    font-family: montserrat;
    font-weight: 900;
    color: #8f8f8f;
}
.countdownItem h5{
    font-size: small;
    font-weight: 200;
}


@media (max-width: 769px){
    .countdownBlock{
        width: 100%;
        height: 150px;
    }
    .countdownItem{
        padding: 20px 0px;
        min-width: calc(100vw / 4.6);
        margin: 0px;
        font-size: 60px;
        height: 120px;
        padding: 10px;
    }
    .countdownBlock h4{
        margin-bottom: 0px;
        letter-spacing: 4px;
    }
    .countdownItem h5{
        font-size: mall;
        margin: 0px;
    }
    
}
@media (max-width: 425px){
    .countdownBlock{
        width: 100%;
        height: 100px;
    }
    .countdownItem{
        padding: 20px 0px;
        
        min-width: calc(100vw / 4.6);
        margin: 5px;
        font-size: 40px;
        height: 80px;
        padding: 10px;
    }
    .countdownBlock h4{
        margin-bottom: 0px;
        letter-spacing: 4px;
    }
    .countdownItem h5{
        font-size: x-small;
        margin: 0px;
    }
    
}