.giftPageBlock{
    display: grid;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    grid-template-areas: 
        "title title"
        "transfer gifts";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    font-family: montserrat;
}
.giftPageBlock h4{
    margin-bottom: 10px;
    letter-spacing: 6px;
    font-weight: 200;
    font-size: xxx-large;
    color: #8f8f8f;
}
.giftPageBlock p{
    margin-bottom: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: 200;
    color: #8f8f8f;
}
.giftsTextBlock{
    grid-area: title;
    padding: 0;
}
.transferBtnBlock{
    grid-area: transfer;
    padding: 0;
}
.giftsBtnBlock{
    grid-area: gifts;
    padding: 0;
}

.transferBtn , .giftsBtn{
    border-width: 0px 1px;
    border-color: #8f8f8f;
    border-style: solid;
    text-align: center;
    font-family: montserrat;
    font-weight: 900;
    color: #8a9c5f;
}
.transferBtn:hover , .giftsBtn:hover{
    background-color: #8a9c5f;
    color: white;
}

.selected{
    background-color: #8f8f8f;
}
.overflow-auto{
    display: flex;
    flex-wrap: wrap;
    
}
.card{
    margin: 5px;
    height: 320px;
}
.card img{
    object-fit: cover;
    overflow: hidden;
}
.card .btn{
    width: 100%;
}
.thankMsg{
    font-size: large;
    text-align: center;
}
@media (min-width: 770px){
    .transferBtn , .giftsBtn{
        width: 42vw;
        margin: 5%px;
        font-size: xx-large;
    }
    .card{
        margin: 5px;
        height: 400px;
        width: 300px;
    }
}

@media (max-width: 769px){
    .giftPageBlock{
        margin: 0px;
    }
    .giftPageBlock h4{
        margin-bottom: 10px;
        letter-spacing: 4px;
        font-weight: 200;
        
    }
    .giftPageBlock p{
        margin: 0px 20px 0 20px;
        text-align: center;
        font-size: large;
    }
    .transferBtn , .giftsBtn{
        width: 42vw;
    }
}
@media (max-width: 730px){
    .transferBtn , .giftsBtn{
        font-size: x-large;
    }
}
@media (max-width: 550px){
    .transferBtn , .giftsBtn{
        font-size: large;
    }
}
@media (max-width: 425px){
    .giftPageBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 350px;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .giftPageBlock h4{
        margin-bottom: 10px;
        letter-spacing: 4px;
        font-weight: 200;
        font-size: xx-large;
    }
    .giftPageBlock p{
        margin: 10px;
        text-align: center;
        font-size: large;
    }
    .transferBtn , .giftsBtn{
        width: 90vw;
    }
    .transferBtnBlock .giftsBtnBlock{
        width: 90vw;
    }
}
@media (max-width: 320px){
    .giftPageBlock{
        height: 400px;
    }
}

