.footerBlock{
    margin-top: 50px;
    margin-left: 5vw;
    width: 90vw;
    text-align: center;
    font-family: montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #8f8f8f;
}
.contactInfo{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'cMsg cMsg' 'cGabi cLucas';
}
.contactMsg{
    grid-area: cMsg;
}
.contactGabi{
    grid-area: cGabi;
}
.contactLucas{
    grid-area: cLucas;
}
.footerMsg, .contactInfo{
    padding: 20px;
    border-width: 1px 0px;
    border-style: dotted;
}
.greenPart{
    color: #8a9c5f;
}
.goldenPart{
    position: relative;
    top: 15px;
    font-family: 'Brittany Signature';
    font-size: xx-large;
    color: #9d8028;
}